.drawer {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    flex-shrink: 0;
    width: 240px;
    margin: 10px;
    border-radius: 6px;
    gap: 2px;
}
.drawer .link {
    padding: 6px;
    border-radius: 4px;
    margin: 6px;
    color: white;
    text-decoration: none;
}
.drawer .link.selected {
    background-color: rgb(93, 168, 255);
}

.projectView {
    width: 100%;
    padding: 10px;
    padding-top: 0;
    overflow: auto;
}
.projectView .title {
    margin-bottom: 0;
}
.projectView .path {
    margin-top: 0;
    opacity: 0.6;
    font-size: 14px;
}

.dependenciesContainer .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}
.dependencies {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.package {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 6px;
    padding-left: 12px;
    &:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}
.package .name {

}
.package .version {
    opacity: 0.6;
    font-size: 12px;

}