.drawer {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    flex-shrink: 0;
    width: 240px;
    margin: 10px;
    border-radius: 6px;
    gap: 2px;
}
.drawer .link {
    padding: 6px;
    border-radius: 4px;
    margin: 6px;
    color: white;
    text-decoration: none;
}
.drawer .link.selected {
    background-color: var(--primary-color);
}

.projectView {
    width: 100%;
    padding: 10px;
    padding-top: 0;
    overflow: auto;
}
.projectView .title {
    margin-bottom: 0;
}
.projectView .path {
    margin-top: 0;
    opacity: 0.6;
    font-size: 14px;
}

.dependenciesContainer .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}
.dependencies {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.package {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 6px;
    padding-left: 12px;

    
    &:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

.package .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    white-space: nowrap;
}

.package .name {

}
.package .version {
    opacity: 0.6;
    font-size: 12px;
}

.package .outdated {
    display: flex;
    gap: 6px;
    justify-content: end;
    align-items: center;
    flex: 1;
    white-space: nowrap;

}
.outdated .newVersion {
    opacity: 0.6;
}


.button {
    border-radius: 6px;
    border: none;
    padding: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.button.disabled {
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.2);
    cursor: none;
}